<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<p>Добро пожаловать, {{ user.username }}!</p>
<p>Давайте приступим к обработке вашей картинки!!!</p>
<div class="buttons">
        <a href="{% url 'add_image' %}">
            <button>Добавить картинку</button>
        </a>
        <a href="{% url 'show_images' %}">
            <button>Показать картинки</button>
        </a>
        <a href="{% url 'delete_doc' %}">
            <button>Удалить картинку</button>
        </a>
        <a href="{% url 'about' %}">
            <button>О нас</button>
        </a>
        <!--<a href="{% url 'payment' %}">
            <button>Проанализировать картинку</button>
        </a>-->
        <a href="{% url 'logout' %}"><button>Выйти</button></a>
    </div>
</body>
</html>
