<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get_Doc</title>
</head>
<body>
Здесь будут кнопочки bbb
<div class="buttons">
        <a href="{% url 'add_image' %}">
            <button>Добавить картинку</button>
        </a>
        <a href="{% url 'show_images' %}">
            <button>Показать картинки</button>
        </a>
    <!-- Временно анализ будет по ID первой картинки -->
        <a href="{% url 'analyze_image' 1 %}">
            <button>Проанализировать картинку</button>
        </a>
        <a href="about/">ИНФОРМАЦИЯ</a>
    </div>
</body>
</html>