<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список документов</title>
    <style>
        .document {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            max-width: 400px;
        }
        .document img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Список документов</h1>
    <ul>
        {% for document in images %}
            <li class="document">
                <h3>{{ document.filename }}</h3>
                <p>ID : {{ document.id }}</p>
                {% if document.file_path %}
                    <img src="{{ document.file_path.url }}" alt="{{ document.filename }}">
                {% else %}
                    <p>Файл отсутствует</p>
                {% endif %}
                <p>Размер файла: {{ document.size|default:"Не указан" }} байт</p>
                <p>Цена анализа : {{ document.analysis_price }} рублей</p>

            </li>
        <a href="/base1/">
            <button>На главную</button>
        </a>
        <a href="{% url 'analyze_image' 1 %}">
            <button>Проанализировать картинку</button>
        </a>
        {% endfor %}
    </ul>
</body>
</html>
